<div class="Navbar bg-gray-800 flex justify-between items-center p-7">
        <div class="title text-5xl text-sky-50">Ranking</div>
    
    <div class="links px-6 flex m-2 gap-4 text text-primary">

        <div class="home">
            <div routerLink="/" routerLinkActive="text-yellow-300" [routerLinkActiveOptions]= "{exact : true}" class="text  text-3xl cursor-pointer">Home</div>
        </div>

        <div class="about">
                <div routerLink="/about" routerLinkActive="text-yellow-300" class="text text-3xl cursor-pointer">About</div>
        </div>

         <div class="Contact">
                <div routerLink="/contact" routerLinkActive="text-yellow-300" class="text text-3xl cursor-pointer">Contact</div>
         </div>

    </div>
</div> 

