<div class="flex items-center justify-center p-12">
<div class="border-gray-800 bg-slate-800 rounded-md">
  <h1 class="text-4xl text-yellow-400 font-semibold p-5 flex justify-center">Contact Us</h1>
  <div class="text-3xl text-yellow-50 p-9">
  <p class="mb-8">If you have any questions, feedback, or suggestions, or maybe a report about someone that you find that his name doesnt not fit here. Feel free to reach out to us using the form below.</p>

  <form class="px-2">
    <div class="mb-6">
      <label class="text-yellow-300" for="name">Your Name</label><br />
      <input class="w-full rounded-md mt-2" type="text" id="name" name="name" placeholder="Enter your name" />
    </div>

    <div class="mb-6">
      <label class="text-yellow-300" for="email">Your Email</label><br />
      <input class="w-full rounded-md mt-2" type="email" id="email" name="email" placeholder="Enter your email" />
    </div>

    <div class="mb-6">
      <label class="text-yellow-300" for="message">Message</label><br />
      <textarea class="w-full rounded-md mt-2" id="message" name="message" rows="5" placeholder="Write your message here..."></textarea>
    </div>

    <div class="flex justify-center">
      <button class="text-black w-72 h-14 border rounded-lg bg-yellow-400" type="submit">Send Message</button>
    </div>
  </form>
</div>
</div>
</div>