<div class="flex justify-center items-center pt-12">
  <div class="max-w-3xl bg-gray-800 rounded-lg p-7 border border-gray-800">
    <h1 class="text-5xl font-bold text-yellow-400 mb-5">About</h1>
    <p class="text-3xl leading-relaxed text-gray-200">
      Every month, we carefully examine the performance of all players based on their matches and achievements.
      <br/><br/>
      After a full review, we select the top players and rank them in our <span class="text-yellow-400 font-semibold">"Players of the Month"</span> table.
      <br/><br/>
      This system helps recognize talent, effort, and consistency in gameplay.
    </p>
  </div>
</div>